@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css");

* {
  box-sizing: border-box;
  margin: 0;
  font-family: Georgia, "Times New Roman", Times, serif;
}

body {
  background-color: rgb(238, 238, 238);
}

#root {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 10rem 0;
}

.div-container {
  background-color: white;
  width: 600px;
  padding: 1rem 2rem;
  border-radius: 10px;
}

.text {
  padding-right: 1rem;
  color: rgb(131, 126, 126);
}

.accordion {
  padding: 1rem 2rem;
}

.title {
  padding: 1rem 2rem;
  font-size: 1.5rem;
}

.text-container {
  display: flex;
  justify-content: space-between;
  margin: 1rem 0;
}

.button {
  border: none;
  background-color: white;
  width: 2rem;
  height: 2rem;
  background-color: black;
  color: white;
  border-color: none;
  border-radius: 50%;
}

.active {
  display: block;
}

p {
  display: none;
}
